form {
    border: 1px solid;
    border-radius: 10px;
    max-width: 300px;

    padding: 40px;
    text-align: center;
    margin: auto;
    /* height: 200px; */
    /* overflow-x: hidden;
    overflow-y: auto; */
}

form div label {
    font-size: 17px;
}

form .formElement {
    margin-bottom: 10px;

}

.btn {
    color: white;
    padding: 15px 25px;
    /* padding: 5px 50px 20px 30px; */
    border-radius: 10px;
    cursor: pointer;

}

.btn:hover {
    background-color: cadetblue;
    transform: scale(1.05);
    transition: 1s;
}

.submit {
    background-color: #6c8cfff6;
}

.clear {
    background-color: rgb(223, 151, 16);
}